name: Run Hello (Docker)

on:
  workflow_dispatch:

jobs:
  run-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t hello-image .

      - name: Run Docker image
        run: docker run hello-image
